<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.AnswerRecordMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        select ar.id,
        ar.user_id,
        ar.bank_id,
        ar.total_score,
        ar.score,
        ar.answer_detail,
        ar.create_date,

        ui.`name` AS userName,
        ui.images AS userImages,

        qb.name AS bankName,
        qb.image AS bankImage
        from answer_record ar
        left join user_info ui on (ui.id = ar.user_id)
        left join question_bank qb on (qb.id = ar.bank_id)
        where 1 = 1
        <if test="queryFrom.userName != null and queryFrom.userName != ''">
            AND ui.`name` LIKE CONCAT('%',#{queryFrom.userName},'%')
        </if>
        <if test="queryFrom.bankName != null and queryFrom.bankName != ''">
            AND qb.name = #{queryFrom.bankName}
        </if>
        <if test="queryFrom.userId != null and queryFrom.userId != ''">
            AND ui.user_id = #{queryFrom.userId}
        </if>
        order by ar.create_date desc
    </select>
</mapper>
