<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.QuestionBankMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        id,
        CODE,
        NAME,
        image,
        create_date
        FROM
        question_bank
        WHERE
        1 = 1
        <if test="queryFrom.code != null and queryFrom.code != ''">
            AND code LIKE CONCAT('%',#{queryFrom.code},'%')
        </if>
        <if test="queryFrom.name != null and queryFrom.name != ''">
            AND name LIKE CONCAT('%',#{queryFrom.name},'%')
        </if>
        ORDER BY
        created_at DESC
    </select>
</mapper>
