<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.UserFavoritesMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        uf.id,
        uf.user_id,
        uf.topic_id,
        uf.created_at,

        ui.`name` AS userName,
        ui.images AS userImages,

        ci.question_type,
        ci.score,
        ci.DESC,
        ci.tags
        FROM
        user_favorites uf
        LEFT JOIN user_info ui ON (ui.id = uf.user_id)
        LEFT JOIN collection_info ci ON (ci.id = uf.topic_id)
        WHERE
        1 = 1
        <if test="queryFrom.userName != null and queryFrom.userName != ''">
            AND ui.`name` LIKE CONCAT('%',#{queryFrom.userName},'%')
        </if>
        <if test="queryFrom.desc != null and queryFrom.desc != ''">
            AND ci.DESC LIKE CONCAT('%',#{queryFrom.desc},'%')
        </if>
        <if test="queryFrom.tags != null and queryFrom.tags != ''">
            AND ci.tags LIKE CONCAT('%',#{queryFrom.tags},'%')
        </if>
        <if test="queryFrom.questionType != null and queryFrom.questionType != ''">
            AND ci.question_type LIKE CONCAT('%',#{queryFrom.questionType},'%')
        </if>
        <if test="queryFrom.userId != null and queryFrom.userId != ''">
            AND ui.user_id = #{queryFrom.userId}
        </if>
        ORDER BY
        uf.created_at DESC
    </select>
</mapper>
