<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.UserLearningTraceMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
        ult.id,
        ult.user_id,
        ult.action_type,
        ult.target_id,
        ult.key_word,
        ult.created_at,
        ui.`name` AS userName,
        ui.images AS userImages
        FROM
        user_learning_trace ult
        LEFT JOIN user_info ui ON (ui.id = ult.user_id)
        WHERE
        1 = 1
        <if test="queryFrom.userName != null and queryFrom.userName != ''">
            AND ui.`name` LIKE CONCAT('%',#{queryFrom.userName},'%')
        </if>
        <if test="queryFrom.actionType != null and queryFrom.actionType != ''">
            AND ult.action_type LIKE CONCAT('%',#{queryFrom.actionType},'%')
        </if>
        <if test="queryFrom.userId != null and queryFrom.userId != ''">
            AND ui.user_id = #{queryFrom.userId}
        </if>
        ORDER BY
        ult.created_at DESC
    </select>

    <select id="queryUserLearningTraceHistory" resultType="java.util.LinkedHashMap">
        SELECT ult.id,
               ult.user_id,
               ult.action_type,
               ult.target_id,
               ult.key_word,
               ult.created_at,
               ui.`name` AS userName,
               ui.images AS userImages
        FROM user_learning_trace ult
                 LEFT JOIN user_info ui ON (ui.id = ult.user_id)
        WHERE 1 = 1
          AND ult.user_id = #{userId}
    </select>
</mapper>
